.photo {
  width: 26.5%;
  height: 50%;
  background-size: 200%;

  position: absolute;
  bottom: 400px;
  right: 750px;
float: right;

}
.photo1 {
  width: 26.5%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;

  position: absolute;
  bottom: 400px;
  right: 1395px;
float:none;
}
.photo2 {
  width: 26.5%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;

  position: absolute;
  bottom: 400px;
  right: 50px;

}
.photo3 {
  width: 26.5%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;

  position: absolute;
  bottom: -170px;
  right: 1415;

}
.photo4 {
  width: 26.5%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;

  position: absolute;
  bottom: -170px;
  right: 750px;

}
.photo5 {
  width: 26.5%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;

  position: absolute;
  bottom: -170px;
  right: 50px;

}

.title{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
left: 840px;
bottom : 910px;
display: none;
width: 8%;
height: 3%;
}

.label{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 340px;
  right: 890px;
  width: 12%;
  height: 3%;
  white-space: nowrap;
}
.label1{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 340px;
  right: 1570px;
  width: 9%;
  height: 3%;
  white-space: nowrap;
}
.label2{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 340px;
  right: 200px;
  width: 8.7%;
  height: 3%;
  white-space: nowrap;
}
.label3{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: -230px;
  right: 1280px;
  width: 24%;
  height: 3%;
  white-space: nowrap;
}
.label4{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: -230px;
  right: 900px;
  width: 12%;
  height: 3%;
  white-space: nowrap;
}
.label5{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: -230px;
  right: 210px;
  width: 8%;
  height: 3%;
  white-space: nowrap;
}

.container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Gay_Pride_Flag.svg/292px-Gay_Pride_Flag.svg.png");
  background-repeat: no-repeat;
  background-size: 101%;
  width: 20%;
  margin: 0;
}


@media only screen and (max-width: 500px) {

.container{
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.photo{
  width: 40%;
  height: 50%;
  padding: 2%;
  left: 30%;
  bottom: -140%
}
.photo1{
  width: 40%;
  height: 50%;
  padding: 2%;
  left: 30%;
  bottom: -260%;
}
.photo2{
  width: 40%;
  height: 50%;
  padding: 2%;
  left: 30%;
  bottom: 45%;
}
.photo3{
  width: 40%;
  height: 50%;
  padding: 2%;
  left: 30%;
  bottom: -80%
}
.photo4{
  width: 40%;
  height: 50%;
  padding: 2%;
  left: 30%;
  bottom: -200%;
}
.photo5{
width: 40%;
height: 50%;
padding: 2%;
left: 30%;
bottom: -17%;
}
body{
  background-size: 101%;
  background-repeat:repeat;
}


.label{
  width: 12%;
  height: 3%;
  white-space: nowrap;
  left: 15%;
  bottom: -148%;
  color: black;
  font-size: 25px;
}
.label1{
  width: 9%;
  height: 3%;
  white-space: nowrap;
  color: black;
  font-size: 25px;
 left: 23%;
  bottom: -268%;
}

.label2{
  width: 8.7%;
  height: 3%;
  white-space: nowrap;
  left: 29%;
  bottom: 38%;
  color: black;
  font-size: 25px;
}

.label3{
  width: 24%;
  height: 3%;
  word-wrap: break-word;
  color: black;
  font-size: 25px;
 left: 37%;
bottom: -88%;
}

.label4{
  width: 12%;
  height: 3%;
  white-space: nowrap;
  color: black;
  font-size: 25px;
  left: 15%;
  bottom: -209%;
}

.label5{

  width: 8%;
  height: 3%;
  white-space: nowrap;
  color: black;
  font-size: 25px;
 left: 31.8%;
 bottom: -24%;
}
}
